.app-header {
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  grid-gap: 40px;
  gap: 40px;

  h3 {
    font-family: Montserrat, sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
    color: #0290ff;
  }

  .icon-button {
    cursor: pointer;
    width: 2.813rem;
    height: 2.813rem;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    margin-left: auto;

    .material-icons {
      color: #0290ff;
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      font-feature-settings: "liga";
      -moz-osx-font-smoothing: grayscale;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    gap: 40px;

    a {
      text-decoration: none;
    }

    >.nav-links {
      display: flex;
      flex-grow: 1;
      list-style-type: none;
      grid-gap: 40px;
      gap: 40px;

      .nav-link {
        display: block;
        opacity: 0.5;
        font-family: Montserrat, sans-serif;
        font-size: 0.8rem;
        color: #121212;
        letter-spacing: 1.9px;
        text-transform: uppercase;

        &.nav-link.active {
          opacity: 1;
          color: #121212;
        }
      }
    }
  }
}
